# Email Configuration
MAIL_USERNAME=your-gmail-address@gmail.com
MAIL_PASSWORD=your-16-character-app-password

# Database Configuration
DB_URL=your-database-url
DB_USERNAME=your-db-username
DB_PASSWORD=your-db-password

# Paystack Configuration
PAYSTACK_SECRET_KEY=your-paystack-secret-key
PAYSTACK_PUBLIC_KEY=your-paystack-public-key

# JWT Configuration
JWT_SECRET_KEY=mySuperSecretKey123456789012345678901234567890
